<div class="informed-consent">
  <h1>Informed Consent</h1>
  <p>
    You are invited to participate in a research study entitled:
    <span class="bold"
      >Applying sentiment analysis and topic modelling on the Reddit social
      media platform to identify stress-inducing and stress-reducing factors in
      climate change anxiety.</span
    >
  </p>

  <p>
    <span class="bold">Researcher: </span>Nathan Neelis, University of
    Amsterdam, Nathan.neelis@student.uva.nl
  </p>

  <p>
    <span class="bold">Purpose and objective of the research: </span>The purpose
    of this study is to analyse whether climate-related topics discussed on
    Reddit are stress-inducing and stress-reducing.
  </p>

  <p>
    <span class="bold">Procedures: </span>If you accept to participate, you will
    be asked to read six Reddit comments per topic. It will be your task to
    identify whether the comment contains stress-reducing or stress-inducing
    content. If it is neither, the option ‘not identifiable’ is also available.
    The reason you are doing this is that humans are still better at
    interpreting textual content than machines are. Another reason is that your
    results will be compared to that of the researcher to calculate an agreement
    score as validation of the classification. It is estimated that this process
    will take about 60 minutes of your time.
  </p>

  <p>
    <span class="bold">Potential risks: </span>The Reddit comments you will be
    reading are climate change related. Climate change can be a tough topic to
    go through and you might read about the stressful thoughts of others.
    Moreover, there is a high polarity around the subject, which can cause
    heated discussions. Finally, the comments can contain strong language.
    During your participation, please remain objective, this is important for
    the results. If at any time you feel like it becomes too much, feel free to
    stop or take a break.
  </p>

  <p>
    <span class="bold">Potential benefits: </span>Your participation will help
    to give an insight into the stress factors in the climate-related topics
    that are discussed on Reddit.
  </p>

  <p>
    <span class="bold">Confidentiality:</span>
    <ul class="listitems">
        <li>
            Your participation in this study
            is anonymous. The entire process and data will be identified using a unique
            id which cannot be traced back to you. 
        </li>

        <li>
            The data will be made accessible to the researcher and his thesis supervisor.
        </li>

        <li>
            Your data will be used for the purpose of this research.
        </li>
    </ul>
  </p>

  <p><span class="bold">Right to withdraw: </span> 
    Your participation is voluntary, and you may withdraw from the research project for any reason at any time without explanation or penalty of any sort. Your right to withdraw data from this study will apply until the data is aggregated. After this point, your data can still be deleted from our databases, however, your results are used in this study and may have been described. To have your data deleted, please send the researcher an email with the unique id you received and your request.
    </p>

  <p><span class="bold">Follow-up: </span>
    If you have any questions about the study, feel free to contact Nathan Neelis (Nathan.neelis@student.uva.nl).
    </p>

    <p><span class="bold iconsent">By participating in this study, your free and informed consent implies and indicates that you understand the above conditions of participation in this study.</span></p>

    <div class="consentBtn">I consent</div>

</div>
