<div class="informed-consent">
  <h1>Annotation instructions</h1>
  <p>
    This research shows that there are X climate-related topics that are
    frequently discussed on Reddit. For each topic, you will receive 6 comments.
    Please read each comment carefully and decide whether the comment contains
    <span class="boldital">stress-inducing</span> or
    <span class="boldital">stress-reducing</span> content. If the comment does
    not contain either, please label the comment as
    <span class="boldital">not identifiable</span>. You can label the comments
    using the multiple-choice answering method below the comment. Simply select
    which of the three options you decide on.
  </p>

  <form
    class="instructionsform"
    action="/instructions"
    method="POST"
    id="annotatersID"
  >
    <div class="is-id">
      <label for="instructionsID">Your unique id:</label>
      <input type="text" id="annotateID" name="annotateID" required />
    </div>

    <button form="annotatersID" type="submit" class="instructionBtn">
      Start annotating!
    </button>
  </form>

  <h3>Some examples:</h3>

  <p class="instructions">
    <span class="bold"
      >These are partial comments that I would label as
      <u>stress-inducing</u>.</span
    >
    <span class="italic"
      >/u/unsynched is pointing out that "we are the problem", which I
      linearalize here: individual consumption (supports ) "the
      corporations"/standard of living (which leads to ) unsustainable practices
      (which leads to ) climate change/water scarcity (which leads to )
      despair/suicide. Take a look at my linearized argument again and notice
      that it's a loop, we continue to fight because of our "survival spirit"
      and "humanity for each other".
    </span>

    <span class="italic">
      Here are (some) warnings that climate change is incompatible with
      civilization. Source 1, The Australian Academy of Science, March 2021: The
      concept of a tipping cascade (figure 3) is even more challenging for the
      science-policy relationship to deal with. A tipping cascade carries more
      uncertainty than amazon rainforest dynamics but also a very high risk for
      a catastrophic outcome at the global level. A recent observation-based
      analysis shows that many of the processes that form the basis for a
      potential global tipping cascade are being activated (lenton et al. 2019).
      Here a risk-averse approach is the only one that makes sense. as lenton et
      al. argue: “if damaging tipping cascades can occur and a global tipping
      point cannot be ruled out, then this is an existential threat to
      civilization ... we need to change our approach to the climate problem.
    </span>
  </p>

  <p class="instructions">
    <span class="bold">
      These are partial comments that I would label as <u>stress-reducing</u>.
    </span>
    <span class="italic">
      We estimate that the energy savings to society associated with efficiency
      gains from 2014 to 2040 will be considerable. Energy demand over this
      period is expected to climb by 25 percent, but energy demand would have
      more than doubled without efficiency gains. A continued focus on enhancing
      efficiency is one of the best means of providing the energy that society
      needs while addressing climate change risks
    </span>

    <span class="italic">
      The first step to fixing negative thoughts and feeling starts with you.
      You have to be sure to take care of yourself and take time to unwind and
      find things that bring you joy and peace (no matter how hard or selfish it
      might feel - I struggle with this so much sometimes). Not all of, but
      probably most of my hobbies and activities are Earth-friendly. I try to
      garden, ride my bike, cook my own food, and fix things, which I try to
      keep in line with my eco-conscious concerns. These bring me joy and a
      sense of freedom, they bring me close to nature, introduce me to my
      neighbours who have actually introduced me to local trails and volunteer
      organizations, make me feel refreshed and give me a sense of purpose, and
      I get to flex my imagination, creativity, and planning muscles or
      sometimes just zone out which has given me opportunities to connect dots
      about new ways to help my community and environment.
    </span>
  </p>

  <div class="example-neutral">
    <p>
      <span
        >There are comments in the dataset that will be neither stress-inducing
        or stress-reducing. It can be hard to distinguish between
        stress-reducing or stress-inducing without the whole context of the
        discussion. Some examples are listed below.
      </span>
    </p>

    <p class="instructions">
      <span class="bold">
        These are comments I would label as <u>not identifiable</u>.
      </span>

      <span class="italic"
        >I don't believe in evolution, climate change, gay marriage, etc</span
      >
      <span class="italic"
        >Covid lockdown or climate change. You can’t have both.</span
      >
      <span class="italic">Do you prefer Canadian news?</span>
      <span class="italic">Go ahead and PM me your questions.</span>
    </p>
  </div>

  <!-- <div class="instructionBtn">Start annotating!</div> -->
</div>
