<%- include('includes/head.ejs'); %>

  <div class="headerTopics">
    <h1>Topic 1</h1>
  </div>
  
    <% if (length >= 1) { %>

      <form class="wrapper" action="/" method="POST" id="annotate_form_<%= comments.id %>">
        <div>
          <!-- annotator  -->
          <div class="annotater">
            <input type="hidden" id="annotaterID" name="annotaterID" value="" required>
          </div>
          
          <p><%=comments.length %></p>
           


     
          

       


        </div>

        <button
        form="annotate_form_<%= comments.id %>"
        type="submit"
        class="submitBtn"
      >
        next topic
      </button>

      </form>


      <%} else { %>
        <h2>You're done!</h2>
        <p> No comments left to annotate</p>
        <% } %>

        <script src="js/consent.js"></script>
  </body>
</html>
